body {
  margin: 50;
  background-position: center;
  background-size: cover;
  color: #5e5447;
  font-family: century-gothic, sans-serif;
  letter-spacing: 3px;
}

header {
  text-align: center;
  background-color: #e6e6e6;
  padding: 5px;
}

footer {
  text-align: center;
  background-color: #e6e6e6;
  padding-bottom: 20px;
}

hr {
  margin: 0 15%;
  border: 2px solid #F7931E;
  opacity: 100%;
}

h1 {
  font-size: 60px;
  text-align: center;
}

h6 {
  padding-top: 30px;
}

p {
 font-size: 14px; 
}

input, select, textarea {
  font-family: century-gothic, sans-serif;
  letter-spacing: 3px;
}

.card {
  display: inline-block;
  position: relative;
  margin: 1vw;
  width: 400px;
  max-height: 100%;
  border: 2px solid transparent;  
  overflow: hidden;
  vertical-align: top;
  text-align: center;
}

.row {
  width: 100%;
}

.search-bar {
  background-color: #e6e6e6;
  color: #ededed;
  text-align: center;
  height: 20vh;
  letter-spacing: 3px;
  width: 100%;
  font-size: 14px;
}

.input-group {
  padding-top: 7vh;
  padding-left: 20%;
  padding-right: 20%;
  font-size: 14px;
}

.logo {
  height: 8vh;
}

#hero {
  text-align: cover;
  background: url("https://raw.githubusercontent.com/mlacerd2/OneMuseum/main/carousel_1.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-position: center;
}

#top-text {
  width: 100%;
  top: 63vh;
  font-size: 20px;
  color: #ffffff;
  vertical-align: middle;
  text-align: center;
  position: absolute;
}

#center {
  background-color: #666666;
  color: #ffffff;
  text-align: center;
  height: 10vh;
  padding: 25px 0;
  letter-spacing: 3px;
}

#info {
  text-align: center;
  background-color: #e6e6e6;
}

#main {
  text-align: center;
}

#card-container {
  font-size: 0;
  margin: 50px auto;
  width: 100%;
}

#search {
  background: #ffffff;
  border-top: solid 1px #ced4da;
  border-right: solid 1px #ced4da;
  border-bottom: solid 1px #ced4da;
  border-left: solid 1px #ffffff;
  z-index: 1;
  color: #666666;
  font-size: 14px;
  text-align: center;
}

::placeholder {
  color: #e6e6e6;
  letter-spacing: 5px;
  opacity: 1;
  font-size: 14px;
}
